<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Gestion de empleados</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{styles.css}">
</head>
<body>
<div class="container bg-dark text-light pt-4 col-12">
    <h2>Gestion de empleados</h2>
</div>

<div class="container card col-md-5 justify-content-center">
    <h3>Formulario</h3>
    <form th:action="@{/controlador/guardarEmpleado}"
          th:object="${empleado}" method="POST">


    <input type="hidden" th:field="*{id}">
    <input type="hidden" th:field="*{nomina.dni}">

    <div class="form-group">
        <label for="nombre">Nombre:</label>
        <div class="d-flex align-items-center">
            <input
                    type="text"
                    id="nombre"
                    class="form-control"
                    th:field="*{nombre}"
            />
            <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" ></span>
        </div>
    </div>
    <div class="form-group">
        <label for="dni">Dni:</label>
        <div class="d-flex align-items-center">
            <input
                    type="text"
                    id="dni"
                    class="form-control"
                    th:field="*{dni}"
            />
            <span th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}" ></span>
        </div>
    </div>
    <div class="form-group">
        <label for="sexo">Sexo:</label>
        <div class="d-flex align-items-center">
            <input
                    class="form-control"
                    type="text"
                    id="sexo"
                    th:field="*{sexo}"
            />
            <span th:if="${#fields.hasErrors('sexo')}" th:errors="*{sexo}" ></span>
        </div>
    </div>
    <div class="form-group">
        <label for="categoria">Categoria:</label>
        <div class="d-flex align-items-center">
            <input
                    class="form-control"
                    type="text"
                    id="categoria"
                    th:field="*{categoria}"
            />
            <span th:if="${#fields.hasErrors('categoria')}" th:errors="*{categoria}" ></span>
        </div>
    </div>
    <div class="form-group">
        <label for="antiguedad">Antiguedad:</label>
        <div class="d-flex align-items-center">
            <input
                    class="form-control"
                    type="text"
                    id="antiguedad"
                    th:field="*{antiguedad}"
            />
            <span th:if="${#fields.hasErrors('antiguedad')}" th:errors="*{antiguedad}" ></span>
        </div>
    </div>

    <input class="btn btn-success mt-3" type="submit" value="Guardar empleado">
    </form>

</div>
<a class="btn btn-secondary ml-5" th:href="@{/controlador/lista}">Volver</a>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>